/* Estilos Generales */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background: url(imagen/biblioteca.jpg) no-repeat center center/ cover;
}


.contenido-centrado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Contenedor */

.contenedor {
  --g: 4px;
  --b: 12px;
  --c: #009AFE;
  width: 85vw;
  max-width: 800px;
  min-height: 600px;
  border-radius: 30px;
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
.contenedor:hover {
  --_p: 75%;
  filter: grayscale(0%);
   border-radius: 30px;
}
.inner-container{
  background: rgba(255,255,255,0.85);
  width: 85vw;
  max-width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-radius: 30px;
    -webkit-transition:background-color 1s ease;
  -moz-transition:background-color 1s ease;
  -o-transition:background-color 1s ease;
  transition:background-color 1s ease-in-out;
}
.inner-container:hover{
  background-color: #b9def6d9;
}











.contenedor-interno {
  width: 80%;
}

/* Contenido */

#titulo {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family: 'Courgette', cursive;
}

#cita {
  font-size: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

#autor {
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Courgette', cursive;
}

#boton-cambiar-cita {
  width: 180px;
  height: 50px;
  font-size: 20px;
}
/* Footer */
footer {
  margin-top: auto;
  min-height: 500px;
}
.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}